.header
    display: grid
    grid-template-columns: repeat(12, 1fr)
    padding: 4em 0
    margin-bottom: 7vw

.header__logo
    grid-column: 2
    color: black
    font-size(40)
    font-weight: 700
    letter-spacing: -1.5px