body
    font-size: calc(16px + .25vw)

// paragaphs
p
    margin: 0 0 1em

// links
a
    text-decoration: none

// headers
h1, .h1
    font-size: calc(1.5em + 3vw)
    line-height: 1.3

    +breakpoint(medium)
        font-size: calc(1em + 2.5vw)
